<%- include("../../layouts/head.ejs") %>

<body>
  <%- include("../../layouts/header.ejs") %>
  <%- include("../../layouts/leftMenu.ejs") %>
  <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="#"><svg class="glyph stroked home">
              <use xlink:href="#stroked-home"></use>
            </svg></a></li>
        <li class="active">Đặt phòng</li>
      </ol>
    </div>
    <!--/.row-->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header text-center">Danh sách đặt phòng</h1>
      </div>
    </div>
    <!--/.row-->
    <div id="toolbar" class="btn-group">
      <a href="/admin/bookings/add" class="btn btn-success">
        <i class="glyphicon glyphicon-plus"></i> Thêm đặt phòng
      </a>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <table data-toolbar="#toolbar" data-toggle="table">

              <thead>
                <tr>
                  <th data-field="id" data-sortable="true">ID</th>
                  <th  data-sortable="true"> Ngày bắt đầu</th>
                  <th  data-sortable="true"> Ngày kết thúc</th>
                  <th  data-sortable="true"> Phòng khách đặt</th>
                  <th  data-sortable="true"> Email khách đặt</th>                 
                  <th  data-sortable="true"> Số người </th>
                  <th  data-sortable="true"> Trạng thái đặt</th>
                  <th data-sortable="true"> Duyệt - Huỷ </th>
                  <th>Hành động</th>
                </tr>
              </thead>
              <tbody>
                <% bookings.forEach((booking, index) => { %>
                <tr>
                  <td style=""> <%=index+1 %> </td>
                  <td> <%= moment(booking.startAt).format('DD-MM-YYYY') %>  </td>
                  <td> <%= moment(booking.endAt).format('DD-MM-YYYY') %> </td>
                    <td>
                      <% booking.roomId.map((item) =>{ %>
                        <span class="label label-danger"><%=item.name%></span>                      
                    <%})%>
                   </td> 

                  <td style=""><%=booking.userId.email%></td>
                  <td style=""><%=booking.numberCustomer%></td>

                    <% if (booking.status === "wait_confirm") { %>
                    <td><span class="label label-warning">Chờ xác nhận</span></td>
                    <% }else if (booking.status === "wait_check_in"){ %>
                    <td><span class="label label-info">Chờ nhận phòng</span></td>
                    <% }
                    else if (booking.status === "check_in"){ %>
                    <td><span class="label label-success">Nhận phòng</span></td>
                    <% }
                    else if (booking.status === "fail"){ %>
                    <td><span class="label label-danger">Huỷ phòng</span></td>
                    <% }
                    else { %>
                    <td><span class="label label-warning">Thành công</span></td>
                    
                    <% } %>


                  
                <td style=""><a href="/admin/bookings/update/<%=booking._id%>" class="btn btn-primary "><i class="glyphicon glyphicon-pencil"></i></a>
                      </td>
                    
                  <td class="form-group">
                    <a href="/admin/bookings-edit/<%=booking._id%>" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="/admin/bookings-delete/<%=booking._id%>"
                      onclick="return confirm('Bạn chắc chắn muốn xoá yêu cầu đặt phòng chứ ?')" class="btn btn-danger"><i
                        class="glyphicon glyphicon-remove"></i></a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
          <div class="panel-footer" style='display: flex; justify-content: center;'>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <% if (page > 1) { %>
                    <li class="page-item ">
                      <a class="page-link" href="/admin/bookings?page=<%= page - 1 %>"> Prev </a>
                    </li>
                    <% } %>
                    <% range.map((i) => { %>
                    <li class="page-item <%= page === i ? "active" : "" %>">

                      <% if (i === "...") { %>

                      <span> <%= i %> </span>

                      <% } else { %>

                      <a class="page-link" href="/admin/bookings?page=<%= i %>"><%= i %></a>
                      <% } %>
                    </li>
                    <% }) %>
                    <% if (page < totalPages) { %>
                    <li class="page-item ">
                      <a class="page-link" href="/admin/bookings?page=<%= page + 1 %>"> Next </a>
                    </li>
                    <% } %>

                  </ul>
                </nav>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!--/.row-->
  </div>
  <!--/.main-->
</body>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>

</html>
