<%- include("../../layouts/head") %>

<body id="page-top">
  <%- include("../../layouts/sidebar") %>
  <%- include("../../layouts/header") %>
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
      <h1 class=" h3 mb-0 text-gray-800  ">Duyệt đặt phòng</h1>
    </div>

    <input type="hidden" id="id" name="id" value="<%=booking._id %>" class="form-control">
    <input type="hidden" id="roomId" name="roomId" value="<%booking.roomId.map((item) =>{ %><%=item._id %>,<%})%> %>">
    


    <h2 class="page-header text-center">Bạn muốn cập nhật trạng thái của phòng <% booking.roomId.map((item) =>{ %>
      <%=item.name%></span>
      <%})%> ?</h2>
      
    <div class="d-flex justify-content-center" style="height: 500px; margin-top: 200px " >
      <button class="btn btn-warning h-25 mr-3 ">
        Chờ nhận phòng
      </button>
      <button class="btn btn-info h-25 mr-3">
        Đã nhận phòng
      </button>
      <button class="btn btn-danger h-25 mr-3 ">
        Huỷ đặt phòng
      </button>
      <button class="btn btn-success h-25 mr-3">
        Trả phòng
      </button>
    </div>

  </div>
  <!-- End of Main Content -->
  <!-- Footer -->
  <%- include("../../layouts/footer") %>
  <!-- End of Footer -->
</body>
<script>
  $("button").click(function () {
    var text = $(this).text();
    var id = $("#id").val();
    var roomId = $("#roomId").val().split(",")
    roomId.pop()
    $.ajax({
      url: `/admin/bookings/update/${id}`,
      method: "POST",
      data: {
        id: id,
        text: text.trim(),
        roomId: roomId
      }
    }).then(function (data) {
      alertify.success(data.message);
      window.timeout = setTimeout(function () {
        window.location.href = "/admin/bookings";
      }, 2000)
    }).catch(function (err) {
      alertify.error(err.responseJSON.message);
    })
  });
</script>

</html>
