<!-- Header -->
<%- include("./../layouts/header") %>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Trang cá nhân </h2>
          <div class="bt-option">
            <a href="/profile">Thông tin cá nhân</a>
            <span class="text-warning"><%= user.fullName %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->
<%- include("./../layouts/sidebar") %>

<div class="col-md-8 col-xs-12">
  <div class="input-group mb-3 d-flex justify-content-center">
    <div class="">
      <img src="/assets/images/uploads/users/<%=user.avatar %>" class="rounded-circle  " alt="Ảnh đại diện" height="100"
        width="100">
      <button type="button" class="btn btn-outline-warning">Đổi ảnh đại diện</button>
    </div>
  </div>
  <style>
     .error {color: red;font-size: 15px;}
  </style>
 
      <div class="col-md-12 col-xs-12">
        <form id="form-change-password">
          <div class="form-group">
            <label>*Nhập mật khẩu cũ</label>
            <input id="password" name="password" required type="password" class="form-control">
          </div>
          <div class="form-group">
            <label>*Nhập mật khẩu mới</label>
            <input id="newPassword" name="newPassword" required type="password" class="form-control">
          </div>
          <div class="form-group">
            <label>*Xác nhận mật khẩu mới</label>
            <input id="confirmPassword" name="confirmPassword" required class="form-control" placeholder="" type="password">
          </div>
        </form>
  </div>
  <div class="d-flex justify-content-center">
    <button type="button" id="btn-change-password" class="btn btn-primary">Cập nhật</button>
    <button type="reset" class="btn btn-default">Làm mới</button>
  </div>
</div>
</div>
</div>
</section>
<%- include("./../layouts/footer") %>
<script>
     $("#form-change-password").validate({
      rules: {
        password: { required: true },
        newPassword: { required: true ,  minlength: 6 },
        confirmPassword: { required: true, equalTo: "#newPassword" },
      },
      messages: {
        password: { required: "*Mật khẩu cũ không được để trống " },
        newPassword:  { required: "*Mật khẩu không được để trống", minlength: "*Mật khẩu tối thiểu 6 kí tự" },
        confirmPassword: {
          required: "*Nhập lại mật khẩu không được để trống",
          equalTo: "*Hai password phải giống nhau"
        },
      }
    })
    $("#btn-change-password").click(function () {
      var password = $("#password").val();
      var newPassword = $("#newPassword").val();
      if ($("#form-change-password").valid()) {
        $.ajax({
          url: "/change-password",
          method: "POST",
          data: {
            password: password,
            newPassword: newPassword,
          }
        }).then(function (data) {
          alertify.success(data.message);
          window.timeout = setTimeout(function () {
            window.location.href = "/login";
          }, 2000)
        }).catch(function (err) {
          alertify.error(err.responseJSON.message);
        })
      }
    })   
  
</script>
<!-- Rooms Section End -->
