
<%- include("./../layouts/header") %>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Xác nhận và thanh toán  </h2>
          <div class="bt-option">
            <a href="/">Trang chủ</a>
            <span>Thông tin đặt phòng</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-3 mt-2 " style="border: 2px solid rgb(236, 175, 5)">
      <div class="col-lg-12">
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
          <h1 class=" h5 mb-0 text-gray-800 text-warning  ">*Thông tin của bạn</h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <form id="">
              <div class="row">
                <div class="form-group col-sm-6 ">
                  <label>Email</label>
                  <input id="email" name="email" type="text" class="form-control" value="<%=user.email%>">
                </div>
                <div class="form-group col-sm-6">
                  <label>Họ & Tên</label>
                  <input id="fullName" name="fullName" required class="form-control" placeholder="" value="<%=user.fullName%>">
                </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-6">
                  <label>Số điện thoại</label>
                  <input id="phoneNumber" name="phoneNumber" type="number" class="form-control" placeholder="" value="<%=user.phoneNumber%>">
                </div>
                <div class="form-group col-sm-6">
                  <label>Mã giảm giá</label>
                  <input id="free" value="H2020PN" name="free" class="form-control" placeholder="">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      


      <div class="col-lg-12">
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
          <h1 class=" h5 mb-0 text-gray-800 text-warning  ">*Chính sách nội quy</h1>
        </div>
        <div class="d-flex flex-column justify-content-center ">
          <span class="pl-2 pb-3">+ Yêu cầu chứng minh thư, căn cước công dân hoặc đặt cọc tại chỗ
            nghỉ , hạn chế làm ồn sau 10 giờ tối.Không đi giày dép trong nhà,không hút thuốc ở khu vực chung</span>
        </div>
        
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
          <h1 class=" h5 mb-0 text-gray-800 text-warning  ">*Trách nhiệm vật chất</h1>
        </div>
        <div class="d-flex flex-column justify-content-center ">
          <span class="pl-2 pb-3">+ Khách hàng chịu mọi trách nhiệm thiệt hại về tài sản đã gây ra tại chỗ ở trong thời gian lưu trú. Không mang chất cháy nổ, chất kích thích, gây nguy hiểm cho khách sạn <span>
        </div>
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
          <h1 class=" h5 mb-0 text-gray-800 text-warning  ">*Chính sách huỷ phòng</h1>
        </div>
        <div class="d-flex flex-column justify-content-center ">
          <span class="pl-2 pb-3">+ Nghiêm ngặt : Hoàn lại 50% giá trị đặt phòng khi khách hàng huỷ phòng trong vòng 48h sau khi đặt phòng thành công và
          trước 14 ngày so với thời gian check-in. Sau đó, hủy phòng trước 14 ngày so với thời gian check-in, được hoàn lại 50%
          tổng số tiền đã trả (trừ phí dịch vụ).<span>
        </div>
        <div class="d-sm-flex align-items-center justify-content-center mb-4">
          <h1 class=" h5 mb-0 text-gray-800 text-warning  ">*Thông tin đặt phòng</h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Tên phòng</th>
                <th scope="col">Số người</th>
                <th scope="col">Giá tiền</th>
                <th scope="col">Hủy chọn</th>
              </tr>
            </thead>
            <tbody>
          <tr>           
              <th scope="row">1</th>      
              <td class="sorting_1"><%=infoRooms.startAt%></td>
                <td>
                  <%=infoRooms.endAt%>
                </td>   
                 <td>P1</td>
                <td><span class="badge badge-warning">1-2 người</span></td>           
                <td><span class="badge badge-primary">10000 đ</span></td>
                <td>
              <a onclick="removeBooking()" class="btn btn-danger btn-circle"><i class="fas fa-trash "></i></a>
            </td>
          </tr>
          </tbody>
        </table>
          </div>
          </div>
          <div class="d-flex  justify-content-center ">          
            <span class="h5 pl-2 pb-3 mt-4 mb-4 text-primary ">+ Tổng tiền :          
              <span class="badge badge-primary"> đ</span>
              <span>
          </div>
          <div class="d-flex justify-content-center mb-3">
            <button onclick="confirmAndPay()" type="button" class="btn btn-success">Đặt phòng</button>
            <button type="reset" class="btn btn-default">Huỷ</button>
          </div>
          </div>
          
          
          </div>
          </div>
          </div>
          </div>

    <%- include("./../layouts/footer") %>
