<!-- Header -->
<%- include("./../layouts/header") %>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Trang cá nhân </h2>
          <div class="bt-option">
            <a href="/">Danh sách đặt phòng</a>
            <span class="text-warning"><%= user.fullName %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->

<%- include("./../layouts/sidebar") %>
      <div class="col-md-9 col-xs-12 ">
          <%- include("./../layouts/avatar") %> 
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ngày bắt đầu</th>
                <th scope="col">Ngày kết thúc</th>
                <th scope="col">Phòng đặt</th>
                <th scope="col">Số người</th>
                <th scope="col">Trạng thái đặt</th>
                <th scope="col">Giá tiền</th>
                <th scope="col">Thêm dịch vụ</th>
                <th scope="col">Huỷ đặt phòng</th>
                <th scope="col">Hoá đơn</th>
              </tr>
            </thead>
            <tbody>
              <% bookings.forEach((booking, index) => { %>
              <tr>
                <input type="hidden" id="idBooking" value="<%=booking._id%>"></input>
                <th scope="row"><%=index+1 %></th>
                <td> <%= moment(booking.startAt).format('DD-MM-YYYY') %> </td>
                <td> <%= moment(booking.endAt).format('DD-MM-YYYY') %> </td>
                <td>
                  <% booking.roomId.map((item) =>{ %>
                  <span class="bg-success"><%=item.name%></span>
                  <%})%>
                </td>
                <td><%=booking.numberCustomer%> người</td>                                            
                <% if (booking.status === "wait_confirm") { %>
                <td><span class="bg-warning">Chờ xác nhận</span></td>
                <% }else if (booking.status === "wait_check_in"){ %>
                <td><span class="bg-info">Chờ nhận phòng</span></td>
                <% }
                      else if (booking.status === "check_in"){ %>
                <td><span class="bg-success">Đã nhận phòng</span></td>
                <% }
                    else if (booking.status === "fail"){ %>
                <td><span class="bg-danger">Huỷ phòng</span></td>
                <% }
                      else { %>
                <td><span class="bg-success">Thành công</span></td>
                <% } %>
                <td> <span class=""><%=formatPrice(booking.price) %> đ</span></td>
                <td class="form-group">
                  <a href="/my-services/<%=booking._id%>" class="btn btn-warning btn-circle"><i class="fas fa-shopping-cart"></i></a>
                </td>
                <td class="form-group">
                  <a onclick="cancel()" class="btn btn-danger btn-circle"><i class="fas fa-window-close"></i></a>
                </td>
                <td class="form-group">
                  <a href="/my-bills/<%=booking._id%>" class="btn btn-warning btn-circle"><i class="far fa-eye"></i></a>
                </td>
              <% }) %>
            </tbody>
          </table>
          <div class="col-lg-12 d-flex justify-content-center ">
            <div class="col-lg-12">
              <div class="room-pagination">
                <a href="/my-bookings">1</a>
                <a href="/my-bookings">2</a>
                <a href="/my-bookings">Next </a>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<script>
  function cancel(){
    var idBooking = $("#idBooking").val();
  $.ajax({
      url: `/cancel/${idBooking}`,
      method: "POST",
      data: {
        idBooking,
      }
    }).then(function (data) {
      alertify.confirm('Khách sạn Phương Đông', 'Bạn có muốn huỷ lịch đặt không ?',
       function () {
          alertify.success(data.message)
           window.timeout = setTimeout(function () {
           location.reload();
         }, 1000)
},
        function () { 
          alertify.error('Đã huỷ thao tác') });
       
    }).catch(function (err) {
      alertify.error(err.responseJSON.message);
    })
    }
</script>
<!-- Rooms Section End -->
<%- include("./../layouts/footer") %>
