<!-- Header -->
<%- include("./../layouts/header") %>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Trang cá nhân </h2>
          <div class="bt-option">
            <a href="/profile">Thông tin cá nhân</a>
            <span class="text-warning"><%= user.fullName %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->


<%- include("./../layouts/sidebar") %>

    <div class="col-md-8 col-xs-12">
      <%- include("./../layouts/avatar") %>
    <form id="">
      <div class="form-group">
        <input type="hidden" id="idUser" name="idUser" required value="<%=user._id %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input id="email" type="text" name="email" required value="<%=user.email %>" class="form-control">
      </div>
      <div class="form-group">
        <label>Họ & Tên</label>
        <input id="fullName" type="text" name="fullName" required class="form-control" value="<%=user.fullName %>"
          placeholder="">
      </div>
      <div class="form-group">
        <label>Số điện thoại</label>
        <input id="phoneNumber" type="number" name="phoneNumber" required class="form-control"
          value="<%=user.phoneNumber %>" placeholder="">
      </div>
      <div class="form-group">
        <label>Giới tính</label>
        <select id="gender" name="gender" class="form-control" >
          <option value="male" <% if (user.gender === "male") { %> selected <%} %>>Nam</option>
          <option value="female" <% if (user.gender === "female" ) { %> selected <%} %>>Nữ</option>
        </select>
      </div>  
      <div class="mt-4">
        <button id="btn-edit-user" type="button" class="btn btn-success">Cập nhật </button>
        <button type="reset" class="btn btn-default">Làm mới</button>
      </div>
    </form>
    </div>
  </div>
</div>
<style>
  .nice-select{
    float: unset;
  }
</style>
</section>
<%- include("./../layouts/footer") %>
<script>
   const prd_image = $("#avatar");
    prd_image.on("change", function (e) {
      const file = e.target.files[0];
      const reader = new FileReader();
      reader.onload = function (event) {
        $("#img_pview").attr("src", event.target.result);
      };
      if (file) {
        reader.readAsDataURL(file);
      }
      })

      $("#btn-edit-user").click(function () {
          var email = $("#email").val();
          var phoneNumber = $("#phoneNumber").val();
          var fullName = $("#fullName").val();
          var gender = $("#gender").val();
          var id = $("#idUser").val();
          $.ajax({
            url: `/profile`,
            method: "POST",
            data: {
              id: id,
              email: email,
              phoneNumber: phoneNumber,
              fullName: fullName,
              gender: gender,
            }
          }).then(function (data) {
            alertify.success(data.message);
            window.timeout = setTimeout(function () {
              window.location.href = "/profile";
            }, 2000)
          }).catch(function (err) {
            alertify.error(err.responseJSON.message);
          })
        })

</script>
