<!-- Header -->
<%- include("./../layouts/header") %>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Danh sách phòng </h2>
          <div class="bt-option">
            <a href="/">Trang chủ</a>
            <span>Phòng trống</span>
          </div>
          <div class="mt-5">
            <h4>Mời bạn đặt <span class="badge badge-warning"> <%=numberRoom%></span> phòng thật sang chảnh và đẹp nào
              !!! </h4>
          </div>
          <input type="hidden" value="<%=numberRoom%>" id="numberRoom"/>
          <input type="hidden" value="<%=numberCustomer%>" id="numberCustomer" />
          <div class="mt-5">
            <input type="hidden" value="<%=startAt%>" id="startAt"/>
            <input type="hidden" value="<%=endAt%>" id="endAt" />
            <button id="booking" type="button"  class="btn btn-outline-success">Đặt phòng</button>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
  <div class="container">
    <div class="row">
      <% rooms.forEach((room, index) => { %>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <a href="/room-detail?id=<%=room._id %>&startAt=<%=startAt%>&endAt=<%=endAt%>">
            <img for="clickMe" src="/assets/images/uploads/rooms/<%=room.image %>" alt="" height="360px" width="234px" /> </a>
          <div class="ri-text">
            <h5 class="text-center text-uppercase text-warning"> <%=room.type %></h5>
            <div class="d-flex justify-content-end">
              <div class="form-check checkbox-rounded         checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" id="clickMe" data-id="<%=room._id%>" value="<%=room._id%>" name="roomIds">              
              </div>
            </div>
            <h3 class="text-center" style="font-size: 24px"><%=formatPrice(room.price) %> đ<span>/ 1 ngày</span></h3>

            <table class="m-auto">
              <tbody>
                <tr>
                  <td class="r-o">Kích cỡ:</td>
                  <td><%=room.size %> m2</td>
                </tr>
                <tr>
                  <td class="r-o">Tối đa:</td>
                  <td> 5 người</td>
                </tr>
                <tr>
                  <td class="r-o">Tên phòng :</td>
                  <td class="text-success"><%=room.name %></td>
                </tr>
                <tr>
                  <td class="r-o">Dịch vụ:</td>
                  <td><%=room.services %></td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <a href="/room-detail?id=<%=room._id %>&startAt=<%=startAt%>&endAt=<%=endAt%>" class="primary-btn ">Xem
                thêm</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <div class="col-lg-12 d-flex justify-content-center ">
        <% if (page > 1) { %>
        <div class="room-pagination p-2 ">
          <a
            href="/checks?startAt=<%=startAt%>&endAt=<%=endAt%>&numberRoom=<%=numberRoom%>&numberCustomer=<%=numberCustomer%>&page=<%=page - 1 %>">
            Prev </a>
        </div>
        <% } %>
        <% range.map((i) => { %>
        <div class="room-pagination p-2 <%= page === i ? "active" : "" %>">
          <% if (i === "...") { %>
          <span> <%= i %> </span>
          <% } else { %>
          <a
            href="/checks?startAt=<%=startAt%>&endAt=<%=endAt%>&numberRoom=<%=numberRoom%>&numberCustomer=<%=numberCustomer%>&page=<%= i %>"><%= i %></a>
          <% } %>
        </div>
        <% }) %>
        <% if (page < totalPages) { %>
        <div class="room-pagination p-2 ">
          <a
            href="/checks?startAt=<%=startAt%>&endAt=<%=endAt%>&numberRoom=<%=numberRoom%>&numberCustomer=<%=numberCustomer%>&page=<%= page + 1 %>">
            Next </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<%- include("./../layouts/footer") %>
<script>
  /*get Cookie */
    function getCookie(cname) {
      var name = cname + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
  $("#booking").click(function(){
      var checkbox = $('[name="roomIds"]'); 
      var arrIds = []
      var numberRoom = $("#numberRoom").val();
      var numberCustomer = $("#numberCustomer").val();
       var startAt = $("#startAt").val();
       var startAtFormat = moment(startAt, "DD-MM-YYYY").valueOf();
       var endAt = $("#endAt").val();
       var endAtFormat = moment(endAt, "DD-MM-YYYY").valueOf();
       var totalDaysBooking = parseInt((endAtFormat - startAtFormat) / 86400000); // 1 days = 86400000 milisecond
      for (let i = 0; i < checkbox.length; i++) {
         
        if (checkbox[i].checked === true) {
          arrIds.push(checkbox[i].value);
        }
      }
      const user = getCookie("token")
    if (user == "") {
      window.location.href = "/login";
    } else {
       if (numberRoom != arrIds.length) {
        alertify.error(" Vui lòng lựa chọn đúng số lượng phòng muốn đặt ");
      } else {
      let arrRooms = {
        arrIds: arrIds,
        startAt: startAt,
        endAt: endAt, 
        numberCustomer: numberCustomer,
        totalDaysBooking: totalDaysBooking
      }
        $.ajax({
          url: "/checks/confirmAndPay",
          method: "POST",
          data: {
            arrRooms: arrRooms
          }
        }).then(function (data) {
          setCookie('infoBookings', JSON.stringify(data.infoRooms), 1);
          window.timeout = setTimeout(function () {
            window.location.href = "/checks/confirmAndPay";
          }, 1000)
        }).catch(function (err) {
          alertify.error(err.responseJSON.message);
        })
      }
    }
  }) 
</script>
