<!-- Header -->
<%- include("./../layouts/header") %>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Danh sách phòng </h2>
          <div class="bt-option">
            <a href="/">Trang chủ</a>
            <span>Phòng trống</span>
          </div>
          <div class="mt-5">
            <h4>Mời bạn đặt <span class="badge badge-warning"> <%=numberRoom%></span> phòng thật sang chảnh và đẹp nào
              !!! </h4>
          </div>
          <input type="hidden" value="<%=numberRoom%>" id="numberRoom"/>
          <div class="mt-5">
            <input type="hidden" value="<%=startAt%>" id="startAt"/>
            <input type="hidden" value="<%=endAt%>" id="endAt" />
            <button id="booking" type="button"  class="btn btn-outline-success">Đặt phòng</button>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->
<section class="rooms-section spad">
  <div class="container">
    <div class="row">
      <% rooms.forEach((room, index) => { %>
      <div class="col-lg-4 col-md-6">
        <div class="room-item">
          <a href="/room-detail/<%=room._id %>">
            <img src="/assets/images/uploads/rooms/<%=room.image %>" alt="" height="360px" width="234px" /> </a>
          <div class="ri-text">
            <h5 class="text-center text-uppercase text-warning"> <%=room.type %></h5>
            <div class="d-flex justify-content-end">
              <div class="form-check checkbox-rounded         checkbox-living-coral-filled mb-2">
                <input type="checkbox" class="form-check-input filled-in" id="clickMe" value="<%=room._id %>" name="roomIds">
                <input type="hidden"  id="name" value="<%=room.name %>" >
                <input type="hidden" id="price" value="<%=room.price %>">
              </div>
            </div>
            <h3 class="text-center" style="font-size: 24px"><%=formatPrice(room.price) %> đ<span>/ 1 ngày</span></h3>

            <table class="m-auto">
              <tbody>
                <tr>
                  <td class="r-o">Kích cỡ:</td>
                  <td><%=room.size %> m2</td>
                </tr>
                <tr>
                  <td class="r-o">Tối đa:</td>
                  <td> 5 người</td>
                </tr>
                <tr>
                  <td class="r-o">Tên phòng :</td>
                  <td class="text-success"><%=room.name %></td>
                </tr>
                <tr>
                  <td class="r-o">Dịch vụ:</td>
                  <td><%=room.services %></td>
                </tr>
              </tbody>
            </table>
            <div class="text-center">
              <a href="/room-detail?id=<%=room._id %>&startAt=<%=startAt%>&endAt=<%=endAt%>" class="primary-btn ">Xem
                thêm</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
      <div class="col-lg-12 d-flex justify-content-center ">
        <% if (page > 1) { %>
        <div class="room-pagination p-2 ">
          <a
            href="/checks?startAt=<%=startAt%>&endAt=<%=endAt%>&numberRoom=<%=numberRoom%>&numberCustomer=<%=numberCustomer%>&page=<%=page - 1 %>">
            Prev </a>
        </div>
        <% } %>
        <% range.map((i) => { %>
        <div class="room-pagination p-2 <%= page === i ? "active" : "" %>">
          <% if (i === "...") { %>
          <span> <%= i %> </span>
          <% } else { %>
          <a
            href="/checks?startAt=<%=startAt%>&endAt=<%=endAt%>&numberRoom=<%=numberRoom%>&numberCustomer=<%=numberCustomer%>&page=<%= i %>"><%= i %></a>
          <% } %>
        </div>
        <% }) %>
        <% if (page < totalPages) { %>
        <div class="room-pagination p-2 ">
          <a
            href="/checks?startAt=<%=startAt%>&endAt=<%=endAt%>&numberRoom=<%=numberRoom%>&numberCustomer=<%=numberCustomer%>&page=<%= page + 1 %>">
            Next </a>
        </div>
        <% } %>
      </div>
    </div>
  </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/moment.min.js"></script>
<%- include("./../layouts/footer") %>
<script>
  $("#booking").click(function(){
      var checkbox = $('[name="roomIds"]'); 
      var arrIds = [];
      var numberRoom = $("#numberRoom").val();
      // var startAt = $("#startAt").val();
      // var startAtFormat = moment(startAt, "DD-MM-YYYY").valueOf();
      // var endAt = $("#endAt").val();
      // var endAtFormat = moment(endAt, "DD-MM-YYYY").valueOf();
      // var totalDaysBooking = parseInt((endAtFormat - startAtFormat) / 86400000); // 1 days = 86400000 milisecond
      // console.log("$ -> totalDaysBooking", totalDaysBooking)
      // var price = ($("#price").val() * totalDaysBooking)
      // console.log("$ -> price", price)
      var name = $("#name").val();
      for (var i = 0; i < checkbox.length; i++) {
        if (checkbox[i].checked === true) {
          arrIds.push(checkbox[i].value);
          console.log("$ -> arrIds", arrIds)
        }
      }
    const user = getCookie("token")
    if (user == "") {
      window.location.href = "/login";
    } else {
       if (numberRoom != arrIds.length) {
        alert(' Phai check dung so phong ')
      } else {
        $.ajax({
           url: "/checks/confirmAndPay",
           method: "GET",
           data: {
            arrIds: arrIds,
           }
         }).then(function (data) {
           window.timeout = setTimeout(function () {
             window.location.href = "/checks/confirmAndPay";
           }, 2000)
         }).catch(function (err) {
           alertify.error(err.responseJSON.message);
         })
      }
    }
    
  })
    
      

</script>
<!-- Rooms Section End -->
