<!-- Header -->
<%- include("./../layouts/header") %>
  <!-- Breadcrumb Section Begin -->
  <div class="breadcrumb-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="breadcrumb-text">
            <h2>Chi tiết phòng</h2>
            <div class="bt-option">
              <a href="/">Trang chủ</a>
              <span><%=room.name %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb Section End -->
  
  <!-- Room Details Section Begin -->
  <section class="room-details-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="room-details-item">
            
            <img src="/assets/images/uploads/rooms/<%=room.image %>" width="750px" height="430px">
          
            <div class="rd-text">
              <div class="rd-title">
                <h3 class="text-uppercase text-warning"><%=room.type %> - <%=room.name %></h3>
                <div class="rdt-right">
                  <div class="rating">
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star"></i>
                    <i class="icon_star-half_alt"></i>
                  </div>
                  <a  onclick="checkBooking()">Đặt phòng ngay</a>
                </div>
              </div>
              <h2><%=room.price %><span>/ 1 ngày</span></h2>
              <input type="hidden" id="roomId" name="roomId" required value="<%=room._id %>" class="form-control">
              <table class="m-auto">
                <tbody>
                  <tr>
                    <td class="r-o">Kích cỡ:</td>
                    <td><%=room.size %> m2</td>
                  </tr>
                  <tr>
                    <td class="r-o">Tối đa:</td>
                    <td> 3 người</td>
                  </tr>
                  <tr>
                    <td class="r-o">Dịch vụ:</td>
                    <td><%=room.services %></td>
                  </tr>
                  <tr>
                    <td class="r-o">Mô tả:</td>
                    <td><%=room.description %></td>
                  </tr>
                </tbody>
              </table>
             
              </p>
            </div>
          </div>
          <div class="rd-reviews">
            <h4>Nhận xét</h4>
            <div class="review-item">
              <div class="ri-pic">
                <img src="img/room/avatar/avatar-1.jpg" alt="">
              </div>
              <div class="ri-text">
                <span>10 tháng 10 năm 2020</span>
                <div class="rating">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star-half_alt"></i>
                </div>
                <h5>Trần Quân</h5>
                <p>Phòng đẹp dã man </p>
              </div>
            </div>
            <div class="review-item">
              <div class="ri-pic">
                <img src="img/room/avatar/avatar-2.jpg" alt="">
              </div>
              <div class="ri-text">
                <span>20 tháng 10 năm 2020</span>
                <div class="rating">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star-half_alt"></i>
                </div>
                <h5>Trần Mai</h5>
                <p>Phòng đẹp mê ly</p>
              </div>
            </div>
          </div>
          <div class="review-add">
            <h4>Thêm nhận xét</h4>
            <form action="#" class="ra-form">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" placeholder="Tên của bạn *">
                </div>
                <div class="col-lg-6">
                  <input type="text" placeholder="Email của bạn *">
                </div>
                <div class="col-lg-12">
                  <div>
                    <h5>Số sao</h5>
                    <div class="rating">
                      <i class="icon_star"></i>
                      <i class="icon_star"></i>
                      <i class="icon_star"></i>
                      <i class="icon_star"></i>
                      <i class="icon_star-half_alt"></i>
                    </div>
                  </div>
                  <textarea placeholder="Nhận xét của bạn"></textarea>
                  <button type="submit">Gửi ngay</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="room-booking">
            <h3>Đặt phòng </h3>
            <form>
              <div class="check-date">
                <label for="date-in">Ngày đến:</label>
                <input type="text" class="date-input" id="startAt" name="startAt" required>
                <i class="icon_calendar"></i>
              </div>
              <div class="check-date">
                <label for="date-out">Ngày đi:</label>
                <input type="text" class="date-input" id="endAt" name="endAt" required>
                <i class="icon_calendar"></i>
              </div>
              <div class="select-option">
                <label for="guest">Số người:</label>
                <select id="numberCustomer" name="numberCustomer" required>
                  <option value="two">1-2 Người</option>
                  <option value="three">3 Người</option>
                </select>
              </div>
              <button onclick="check()">Kiểm tra</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script>
     //setCookie in Cookies
      function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
      //getCookie in Cookies
      function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

    function check() {
        // alert("Sẵn sàng đặt !!!!!")
      }
    function checkBooking(){
      let cookieBooking = getCookie("newBookingId")
      if(!cookieBooking){
         var contentConfirm = "";
        var startAt = $("#startAt").val();
        var endAt = $("#endAt").val();
        var numberCustomer = $("#numberCustomer").val();
        var roomId = $("#roomId").val();
        $.ajax({
          url: "/booking",
          method: "POST",
          data: {
            startAt: startAt,
            endAt: endAt,
            numberCustomer: numberCustomer,
            roomId: roomId,
            contentConfirm: contentConfirm
          }
        })
          .then(function (data) {
            setCookie("newBookingId", data.newBookingId, 1)
            alertify.confirm(data.message,
              function () {
                window.timeout = setTimeout(async function () {
                  window.location.href = "/rooms";
                }, 1000)
              },
              function () {
                alertify.success('Cám ơn bạn đã đặt phòng , vui lòng đợi xác nhận từ nhân viên khách sạn , chúc bạn có chuyến trải nghiệm thật vui vẻ ');
                window.timeout = setTimeout(function () {
                  window.location.href = "/";
                }, 2000)
              });
          }).catch(function (err) {
            alertify.error(err.responseJSON.message);
          })
      }else{
        checkBookingN()
      }
      }
    function checkBookingN() {
            var newBookingId = getCookie("newBookingId")
            var contentConfirm = "OK";
            var startAt = $("#startAt").val();
            var endAt = $("#endAt").val();
            var numberCustomer = $("#numberCustomer").val();
            var roomId = $("#roomId").val();
              $.ajax({
                url: "/booking",
                method: "POST",
                data: {
                  startAt: startAt,
                  endAt: endAt,
                  numberCustomer: numberCustomer,
                  roomId: roomId,
                  contentConfirm: contentConfirm,
                  newBookingId : newBookingId
                }
              }).then(function (data) {
                alertify.confirm(data.message,
                  function () {
                    alertify.success('Cám ơn bạn đã đặt phòng , vui lòng đợi xác nhận từ nhân viên khách sạn, chúc bạn có chuyến trải nghiệm thật vui vẻ ');
                    window.timeout = setTimeout(async function () {
                      window.location.href = "/rooms";
                    }, 2000)
                  },
                   function () {
                    alertify.success('Cám ơn bạn đã đặt phòng tại khách sạn , xin hãy đợi xác nhận từ khách sạn, chúc bạn có chuyến trải nghiệm thật vui vẻ ');
                    window.timeout = setTimeout(function () {
                      window.location.href = "/";
                    }, 2000)
                  });
              }).catch(function (err) {
                alertify.error(err.responseJSON.message);
              })
            }
  </script>
  <!-- Room Details Section End -->
<!-- Rooms Section End -->
<%- include("./../layouts/footer") %>
