<%- include("../../layouts/head") %>

<body id="page-top">
  <%- include("../../layouts/sidebar") %>
  <%- include("../../layouts/header") %>
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-center mb-4">
      <h1 class=" h3 mb-0 text-gray-800  ">Thông tin dịch vụ</h1>
    </div>


    <!-- Content Row -->

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <a href="/admin/services/add" class="btn btn-success">
          <i class="glyphicon glyphicon-plus"></i> Thêm mới dịch vụ
        </a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div id="dataTable_filter" class="dataTables_filter"><label>Tìm kiếm:<input type="search"
                      class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid"
                  aria-describedby="dataTable_info" style="width: 100%;">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="#: activate to sort column descending" aria-sort="ascending" style="width: 4px;">
                        #</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="fullName: activate to sort column ascending" style="width: 150px;">Tên dịch vụ</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="Email: activate to sort column ascending" style="width: 150px;">Giá</th>
                      <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                        aria-label="Salary: activate to sort column ascending" style="width: 100px;">Hành Động</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% services.forEach((service, index) => { %>
                    <tr role="row" class="odd">
                      <td class="sorting_1"><%=index+1 %></td>
                      <td><%=service.name %></td>
                      <td><%=service.price%> VNĐ</td>
                    
                      <td class="form-group">
                        <a href="/admin/services-edit/<%=service._id%>" class="btn btn-info btn-circle"><i
                            class="fas fa-edit"></i></a>
                        <a href="/admin/services-delete/<%=service._id%>"
                          onclick="return confirm('Bạn chắc chắn muốn xoá dịch vụ <%=service.name%> chứ ?')"
                          class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Trang thứ <%=page%>
                  của <%=totalPages%>
                  trang </div>
              </div>
              <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                  <ul class="pagination">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination ">
                        <% if (page > 1) { %>
                        <li class="page-item ">
                          <a class="page-link" href="/admin/services?page=<%= page - 1 %>"> Prev </a>
                        </li>
                        <% } %>
                        <% range.map((i) => { %>
                        <li class="page-item <%= page === i ? "active" : "" %>">

                          <% if (i === "...") { %>

                          <span> <%= i %> </span>

                          <% } else { %>

                          <a class="page-link" href="/admin/services?page=<%= i %>"><%= i %></a>
                          <% } %>
                        </li>
                        <% }) %>
                        <% if (page < totalPages) { %>
                        <li class="page-item ">
                          <a class="page-link" href="/admin/services?page=<%= page + 1 %>"> Next </a>
                        </li>
                        <% } %>

                      </ul>
                    </nav>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- /.container-fluid -->

  </div>
  <!-- End of Main Content -->
  <!-- Footer -->
  <%- include("../../layouts/footer") %>
  <!-- End of Footer -->
</body>

</html>
